<!doctype html>
<html>
  <head><p>Let's play a game!</p></head>
  <body>
    <p>Instructions: Please fill out the form below!</p>
    <form action="/madlib">
    
      <label for="person-game">Name of a person:</label>  
      <input type="text" name="person-game" id="person-game"><br>


      Which color do you like?
      <input type="radio" name="color-game" id="neon lilac" value="neon lilac">
      <label for="neon lilac">Neon Lilac</label> 
       
      <input type="radio" name="color-game" id="classy black" value = "classy black">
      <label for="classy blac">Classy Black</label>  

      <input type="radio" name="color-game" id="metallic lilac" value = "metallic lilac">
      <label for="metallic lilac">Metallic Lilac</label>  
      
      <input type="radio" name="color-game" id="neon green" value = "neon green">
      <label for="neon green">Neon Green</label>  
      
      <input type="radio" name="color-game" id="sparkling lavender" value="sparkling lavender">
      <label for="sparkling lavender">Sparkling Lavender</label><br>
      

      <label for="noun-game">Pick a noun:</label>
      <select name="noun-game" id="noun-game">
        <option value="kitten">Kitten</option>
        <option value="firecracker">Firecracker</option>
        <option value="couch">Couch</option>
        <option value="book">Book</option>
        <option value="puppy">Puppy</option>
      </select><br>

      <label for="adjective-game">Pick an adjective you like:</label>
      <select name="adjective-game" id="adjective-game">
        <option value="sleepy">Sleepy</option>
        <option value="sneaky">Sneaky</option>
        <option value="creepy">Creepy</option>
        <option value="noisy">Noisy</option>
        <option value="itchy">Itchy</option>
      </select><br>




      <input type="submit">
    </form>
  </body>
</html>